@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --ligh-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

.svg {
  position: absolute;
}

#main {
  padding: 2.5em 1.2em 1em;
}

.principal-container {
  text-align: center;
}

.left-container {
  padding: 2em 0 1.5em;
}

.title {
  color: var(--very-dark-magenta);
  font-size: 1.8em;
  padding: 0 .7em .9em;
  font-weight: 700;
}

.principal-txt {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    color: var(--dark-grayish-magenta);
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .7em 0;
}

.stars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--ligh-grayish-magenta);
    padding: 1.1em 1em .7em;
    margin: .5em 0;
    border-radius: 2px;
}

.stars-container svg {
    padding: 0 .25em .7em;
}

.stars-desc {
    padding: .3em 0 .2em;
    font-size: 1em;
    color: var(--very-dark-magenta);
}

.review-container {
    margin: 2em 0 0;
}

.review-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--very-dark-magenta);
    padding: 1.5em 2.5em;
    margin: 1em 0;
    border-radius: 10px;
}

img {
    width: 2.7em;
    border-radius: 50%;
}

.review-info {
    padding: .5em 1.5em .8em;
}

.review-name {
    color: var(--white);
    font-size: .9em;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: .5em 0 .4em;
}

.review-veri {
    color: var(--soft-pink);
    font-size: .8em;
    font-weight: 300;
    word-spacing: .5px;
    letter-spacing: 1.5px;
}

.review-txt{ 
    color: var(--white);
    font-size: .9em;
    word-spacing: 1.5px;
    font-weight: 300;
    padding: 1.2em 0 1.5em;
}

.attribution {
    padding: 1em;
  font-size: 11px;
  text-align: center;
  margin:0 2em 2em;
  font-weight: 700;
}
.attribution a {
  color: var(--soft-pink);
  text-decoration: none;
}

@media (min-width: 800px) {
    #main {
        padding: 4em;
    }
}

@media (min-width: 1440px) {
    #main {
        padding: 3em 12em;
    }
    .principal-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;
    }
    .left-container {
        width: 50%;
        text-align: left;
        padding: 0;
    }
    .right-container {
        display: flex;
        width: 50%;
    }
    .title {
        padding: 0 5em 0 0;
        font-size: 2.5em;
    }
    .principal-txt {
        text-align: left;
        padding-right: 9em;
        font-size: 1em;
        margin-top: 1em;
    }
    .stars-container {
        width: 70%;
        padding: 1.2em 1.5em;
        display: flex;
        justify-content: space-evenly;
    }
    .star {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stars-desc {
        padding: 0;
    }
    .stars-container svg {
        padding: 0 .25em .4em;
    }
    .star1{
        position: relative;
        right: 5em;
    }
    .star3 {
        position: relative;
        left: 5em;
    }
    .review-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .review-box {
        width: 25%;
    }
    .box2 {
        position: relative;
        top: 2.5em;
    }
    .box3 {
        position: relative;
        top: 5em;
    }
}
